<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>cadastro</title>
  </head>
  <body class="bg-fuchsia-100 text-center item-center">
    <h1 class="text-3xl font-bold">obrigado por encomendar um bolo conosco</h1>

    <p class="w-80 m-auto">
      faremos o maximo possivel para voce ter a melhor esperiencia com nossa
      loja, enviamos um email para você com as informações que voce precisa para
      retirar seu pedido
    </p>
    <a href="/">voltar para pagina inicial</a>
  </body>
</html>
